<%= provide(:title, @user.name) %>

<%= render 'posts/post_form' %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.gravatar_url default: "retro" %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<%= render partial: 'friendships/friendships_status', locals: {user: @user} unless current_user == @user %> 

<%= render @user.posts.order('created_at DESC') if @user.posts.any? %>
