<%= provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.gravatar_url default: "retro" %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<%= render 'posts/post_form' %>
<% unless current_user == @user %>
  <%= render partial: 'friendships/friendships_status', locals: {user: @user} %> 
<% end %>

<% if @user.posts.any? %>
  <% @user.posts.each do |post| %>
    <%= render partial: 'posts/post_partial', locals: {post: post} %>  
  <% end %>
<% end %>