<%= provide(:title, "#{@post.user.name}'s Post") %>
<h4><%= link_to @post.user.name, user_path(@post.user) %></h4>
<p><%= @post.body %></p>
<strong>Posted <%= time_ago_in_words(@post.created_at) %> ago</strong></br>
<% if current_user == @post.user %></p>
  <%= link_to 'Delete', post_path(@post), method: :delete %>
<% else %>
  <%= render partial: 'likes/like_post', locals: {post: @post} %></br>
<% end %>
<h4>Comments</h4>
<%= render partial: 'comments/comment', locals: {post: @post} %>
<h5>Add a Comment:</h5>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
  </p>
<% end %>